{#

Description text for the Field CodFisc.

#}

{% trans %}

<p>The Field CodFisc provides a text field where We put a string like <code>FRBLSS82B10A515R</code>. To use it, add the field to a content type.</p>

{% endtrans %}
